.nav {
  display: flex;
  justify-content: space-around;
  border-bottom: 1.5px solid black;
  padding: 15px;

  width: 100%;
}
.nav-Search {
  box-shadow: 3px 2px 0px black;
  border-radius: 5px;
  font-size: 30px;
  padding: 2% 15% 2% 7%;
  font-family: Copperplate Gothic Light;
  font-weight: 100;
}

.nav-list {
  font-weight: 500;
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 14px;
  font-family: inherit;
  align-items: center;
}

.nav-list > li > a {
  text-decoration: none;
  color: rgba(41, 41, 41, 1);
}
