.arrow{
    width: 3%;
    height: 115px;
}
.btn-arrow{ 
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 300px;
}
.offerBannerImg{
    width: 100%;
    border: 15px solid rgb(0, 149, 255);
    opacity: .7;
}