.categorybtn {
  font-family: Century Gothic;
  /* margin-left: 20%; */
  padding: 5%;
  width: 15vw;
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */
  background: white;
  border: 1px solid black;
  text-align: center;
  display: inline-block;
  box-shadow: 5px 5px 1px black;
}
.categorybtn:hover {
  background: black;
  color: white;
}
.category {
  display: flex;
  justify-content: space-evenly;
  background: rgb(237, 97, 120);
}

.productBox {
  border: 3px solid black;
  width: 20%;
  padding: 2% 1% 1% 2%;
  margin: 3% 2% 1% 3%;
  background: white;
  box-shadow: 5px 5px 1px black;
}
.productBox:hover {
  border: 3px solid white;
}
.productImg {
  width: 100px;
  height: 90px;
}
.productTitle {
}
.productPrice {
}
.product {
  font-family: Courier New;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  padding: 2%;

}
.productDetails {
  display: flex;
  justify-content: center;
  margin: 7% 0%;
}
.productDetails > p {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.category-product{
  padding: 3% 1%;
  background: rgb(237, 97, 120);
  border: 15px solid white;
}